APP_ENV=dev
BACKEND_LISTEN_ADDR=:8081
LOG_LEVEL=info

POSTGRES_DB=portal
POSTGRES_USER=portal
POSTGRES_PASSWORD=replace_me

ORTHANC_NAME=RedImagenesNQN-orthanc
ORTHANC_URL=http://orthanc:8042
ORTHANC_HTTP_BIND=127.0.0.1:8042
ORTHANC_DICOM_BIND=127.0.0.1:4242

PACS_HPN_CLIENT_ID=replace_me
PACS_HPN_CLIENT_SECRET=replace_me

HIS_MONGO_URI=replace_me
HIS_MONGO_DATABASE=replace_me
HIS_MONGO_CONNECT_TIMEOUT_MS=5000
HIS_MONGO_QUERY_TIMEOUT_MS=3000
